.logo{
    width: 25%;
}

.input-element{
    width: 75% !important;
    margin-left: 12%;
}

.login-btn{
    width: 75% !important;
    margin-bottom: 20%;
}

.login-form{
    margin-top: 15%;
    margin-left: 10%;
    width: 80% !important;
}

.right{
    background-position: center;
    background-image: url("/static/images/login.png");
}