{% extends 'base.html' %}

{% block style %}
<style>
    .rounded-table {
      width: 80%;
      margin-left: 10%;
      margin-top: 2%;
    }
    .edit-button {
      background: url("images/edit.png") no-repeat;
      background-size: cover;
      width: 25px;
      height: 25px;
      border: none;
      cursor: pointer;
    }
    .delete-button {
      background: url("images/delete.png") no-repeat;
      background-size: cover;
      width: 25px;
      height: 25px;
      border: none;
      cursor: pointer;
    }
</style>
{% endblock style %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <button class="btn btn-success mt-3" id="importBtn">
          Import Excel
        </button>
        <input hidden type="file" accept=".xlsx" id="fileInput" />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <div class="rounded-table text-center">
          <table class="table">
            <thead class="table-primary">
              <tr>
                <th scope="col"></th>
                <th scope="col">Diplom Raqami</th>
                <th scope="col">Talabaning To'liq Ismi</th>
                <th scope="col">Passport Raqami</th>
                <th scope="col">Tug'ilgan sana</th>
                <th scope="col">OTM nomi</th>
                <th scope="col">Ta'lim turi</th>
                <th scope="col">Ta'lim shakli</th>
                <th scope="col">Qayd Sanasi</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox" name="item[]" id="1" class="form-check-input"></td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>Larry the Bird</td>
                <td>@twitter</td>
                <td>@twitter</td>
                <td>@twitter</td>
                <td>@twitter</td>
                <td>@twitter</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-success ps-5 pe-5 mt-5">Generate</button>
        </div>
      </div>
    </div>
  </div>
    <script>
        const importBtn = document.getElementById("importBtn");
        const fileInput = document.getElementById("fileInput");
  
        importBtn.addEventListener("click", () => {
          fileInput.click();
        });
    </script>
{% endblock content %}
    
